<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies App</title>
</head>

<body>
    <h1>Welcome to the Movie app!</h1>
    <p>An app for tracking your favorite movies</p>
    <p>Don't forget: Be kind, rewind</p>
    <a href="/movies">Browse Movies</a>
</body>

</html>